/**
 * Copyright 2022 Rubicon.
 * SPDX-License-Identifier: 	AGPL-3.0-or-later
 */

@media (width >= 772px) {
    .SmartDialog {
        max-width: 560px;
        width: calc(100% - 64px);
        height: fit-content;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .SmartBodyWidth {
        width: 80%;
    }
}

@media (width < 772px) {
    .SmartDialog {
        min-width: 120px;
        width: 100%;
        position: relative;
        top: 0px;
        bottom: 0px;
    }

    .SmartBodyWidth {
        width: 100%;
    }
}

.FixedCenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FixedCenterX {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.FlexboxRow {
    display: flex;
    flex-direction: row;
}

.FlexboxCol {
    display: flex;
    flex-direction: column;
}

.ButtonGroupEndAligned {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}

.ButtonGroupEndAligned * + * {
    margin-inline-start: 8px;
}
